footer{
    position: absolute;
    right: 0;
    background-color: var(--bg-button);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 0.5rem;
    min-width: 100% !important;
}
footer p{
    font-family: 'Inter';
    color: var(--primary-color);
    font-weight: 300;
    font-size: 1rem;
}

strong{
    font-weight: 700;
}