.formulario_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.campo_escrita {
    display: flex;
    align-items: center;
    justify-content: left;
    border: none;
    outline: none;
    font-size: 1.0rem;
    font-family: 'Inter';
    color: var(--primary-color);
    margin-bottom: 1rem;
    width: 100%;
}

label {
    position: relative;
}

label input,
label textarea {
    border: 1px solid var(--primary-color);
    background: var(--bg-color);
    outline-offset: 0;
    box-shadow: none;
    border-radius: 4px;
    outline: none;
    max-width: 100%;
}


label input {
    height: 25px;
    padding: 0.5rem;
}


label textarea {
    resize: none;
    padding: 0.2rem;
    height: 100px;
    width: 310px;
    margin-top: 0.5rem;
}

label textarea~p {
    position: absolute;
    bottom: 65%;
    margin-left: 0.75rem;
}

label input~p {
    position: absolute;
    top: 50%;
    margin-left: 0.75rem;
}

label p {
    transform: translateY(-10px);
    transition: all 0.5s;
}

label input:focus~p,
label input:valid~p,
label textarea:focus~p,
label textarea:valid~p {
    transition: all 0.22s;
    font-weight: 400;
    background: var(--bg-color);
    font-size: .75rem;
}

label input:focus~p,
label input:valid~p,
label textarea:focus~p,
label textarea:valid~p {
    transform: translateY(-30px);
}

label textarea:focus~p,
label textarea:valid~p {
    transform: translateY(-30px);
}

label input:focus,
label textarea:focus {
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);

}

label input:user-invalid ~ p,
label textarea:user-invalid ~ p {
    color: #ff0000;
    font-weight: 800;
    background-color: var(--bg-color);
  }

.formulario__botao {
    width: 20%;
    padding: 1rem;
    border: none;
    margin-bottom: 0.2rem;
    overflow: auto;
}

.formulario__botao:hover {
    background: var(--bg-color);
    outline: 1px solid var(--primary-color);
    font-family: 'Inter';
    font-weight: 500;
    color: var(--primary-color);
}
#signupCaptcha{
    position: relative;
    margin-bottom: 0.25rem;
    transition:  all 0.5s;
}

.mensagem_erro{
    font-size: 0.75rem;
    color: #ff0000;
    font-family: 'Inter';
    background: var(--bg-color);

    position: relative;
    top: 25px;
    right: 50%;
  
}

label textarea ~ .mensagem_erro{
    top: 95px;
    right: 55%;
}